# Core ML
torch>=2.0.0
torchvision>=0.15.0
open-clip-torch>=2.20.0
numpy>=1.24.0

# Video processing
#opencv-python>=4.8.0

# Video processing (headless version for CPU-only systems)
opencv-python-headless>=4.8.0

# Image processing
Pillow>=9.0.0

# Data handling
yt-dlp>=2023.7.6
requests>=2.31.0
datasets>=2.14.0

# Utils
pathlib
tqdm